<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% raw %}<script>
(function($) {
  $(function() {
    var $btn = $("#site-nav button");
    var $vlinks = $("#site-nav .visible-links");
    var $hlinks = $("#site-nav .hidden-links");

    $vlinks.children("li:not(.persist)").each(function() {
      $hlinks.append($(this).clone());
    });

    $btn.on("click", function() {
      $hlinks.toggleClass("hidden");
      $(this).toggleClass("close");
      if (!$(this).hasClass("close")) {
        $hlinks.find(".dropdown-menu").removeClass("is-open");
      }
    });

    $(document).on("click", ".hidden-links .masthead__menu-item--dropdown > a", function(e) {
      e.preventDefault();
      $(this).siblings(".dropdown-menu").toggleClass("is-open");
    });

    function updatePadding() {
      $("body").css("padding-top", $(".masthead").height() + "px");
    }
    $(window).on("resize", updatePadding);
    updatePadding();
  });
})(jQuery);
</script>{% endraw %}

{% include analytics.html %}
