/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  -webkit-transform: translate3d(0, 0 , 0);
          transform: translate3d(0, 0 , 0);

  @include clearfix();
  margin-bottom: 1em;
  padding-top: 0 !important;        // Override inline style from main.min.js on mobile

  @media (orientation: portrait) {
    margin-top: 1em;
  }

  @media screen and (min-width: $sidebar-screen-min-width) {
    height: 100vh;
    overflow-y: auto;               // Add scrollbar if the sidebar is too long
    position: fixed;
    padding-top: $masthead-height !important;  // Override inline style on desktop
  }

  @include breakpoint($large) {
    @include span(2 of 12);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  @include breakpoint($x-large) {
    max-width: $sidebar-link-max-width;
    padding-right: 0;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  h3, h4 {
    font-size: $type-size-5;
  }

  p, li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: relative;
    float: right;
    width: $right-sidebar-width-narrow;
    margin-left: span(0.5 of 12);
    z-index: 10;
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author__profile {
  // Mobile: CSS grid layout - avatar left, content+links stacked right
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto auto;
  gap: 0 15px;

  .author__avatar {
    grid-row: 1 / 3; // Span both rows
  }

  .author__content {
    grid-column: 2;
    grid-row: 1;
  }

  .author__urls-wrapper {
    grid-column: 2;
    grid-row: 2;
  }

  @include breakpoint($large) {
    display: block; // Revert to default on desktop
  }
}

.author__avatar {
  // Grid handles positioning on mobile
  width: 70px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 175px;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid var(--global-border-color);
    }
  }
}

.author__content {
  // Grid handles positioning on mobile
  line-height: 1.3;

  @include breakpoint($large) {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.author__name {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-5;
}

.sidebar .author__desktop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.author__pronouns {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author__bio {
  margin: 0;

  @include breakpoint($large) {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.author__urls-wrapper {
  // Grid handles positioning on mobile
  font-family: $sans-serif;
  z-index: 10;
  margin-top: 5px;

  li:last-child {
    a {
      margin-bottom: 0;
    }
  }

  @include breakpoint($large) {
    display: block;
    margin-top: 0;
  }

  // Hide "Links" button - show icons inline instead
  button {
    display: none;
  }
}

.author__urls {
  // Mobile: show as inline icon row
  display: flex;
  flex-direction: row;
  gap: 0.75em;
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  background: transparent;
  box-shadow: none;
  cursor: default;

  // Hide text labels on mobile, show only icons
  a {
    font-size: 1.25em;
    color: var(--global-text-color-light);

    .icon-pad-right {
      margin-right: 0;
    }

    &:hover {
      color: var(--global-text-color);
    }
  }

  // Hide link text on mobile
  li:not(.author__desktop) a {
    font-size: 0; // Hide text

    i, svg {
      font-size: 1rem; // Slightly smaller icons
    }
  }

  @include breakpoint($large) {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-shadow: none;

    a {
      color: inherit; // Reset to default on desktop
    }

    // Show full text on desktop
    li:not(.author__desktop) a {
      font-size: $type-size-5;

      i, svg {
        font-size: inherit;
      }
    }

    a .icon-pad-right {
      margin-right: 0.5em;
    }
  }

  &:before,
  &:after {
    display: none;
  }

  li {
    white-space: nowrap;
  }

  a {
    display: block;
    margin-bottom: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: inherit;
    font-size: $type-size-5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
